* {
    margin: 0;
    padding: 0;
}
body, html {
    background: #eee;
}
.active_item{

    background: #7096A4;
}
#dashboard_menu {
    position: sticky;
    height: auto;
    min-height: 100vh;
    background: #2C3C47;
    color: #FFF;
    padding: 0;
}
#dashboard_menu ul {
    list-style: none;
}
#dashboard_menu li {
    padding: 0.5em 0em;
}
#dashboard_menu li:hover {
    cursor: pointer;
    background: rgba(112, 150, 164, 0.5);
}
#dashboard_menu .sub-items:hover {
    background: rgba(44,60,71, 0.5);
}
#dashboard_menu li .items {
    display: flex;
    padding: 0.5em 0.7em;
    justify-content: space-between;
    align-items: center;
}
#dashboard_menu li li {
    padding: 0.5em 0.7em;
}
/* fab button*/
#fab {
    position: fixed;
    bottom: 2em;
    right:  3em;
}
#fab #fab-add {
    border-radius: 50%;
    background-image: linear-gradient(to right,#ff9187, #da5a49);
    display: flex;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width:  50px;
    height: 50px;
}
.logout a {
    color: #333;
}
.logout a:hover {
    cursor: pointer;
    color: #dc3545;
    text-decoration: none;
}

.product {
    cursor: pointer;
}

/* Edit, delete */
.btn-edit:hover {
    cursor: pointer;
    color: #17a2b8;
}
.btn-archive:hover {
    cursor: pointer;
    color: #866506;
}
.btn-search:hover {
    background: #ff6f61 !important;
}
.btn-delete:hover {
    cursor: pointer;
    color: #dc3545;
    text-decoration: none;
}

/* pop-up */
