/* pre-config*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.show-block {
    display: block !important;
}
/* Home page */
#sidebar .item:hover {
    background: #f0945e;
    color: #FFF;
}
#submenu .items {
    padding: 0 15px;
}
#sidebar_expand {
    color: #FFF;
}
a,
a:hover {
    color: #333;
}
#subsubmenu {
    position: relative;
}
#submenu a {
    color: #FFF;
}
#content .items a {
    text-decoration: none;
}
#content .items:hover .card {
    background: #DDD;
}

/* init sub menu */
#sidebar {
    position: initial;
}
#sidebar .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
}
#sidebar .items:hover {
    background: #DDD;
}
#sidebar .sidebar_expand {
    position: absolute;
    color: #333;
    background: #FFF !important;
    z-index: 91;
    top: 0.3em;
    left: 265px;
    display: none;
}
/* open sub menu */
#sidebar li:hover > ul {
    display: block;
}

/* sub menu style */
#sidebar .sidebar_expand a {
    color: #333;
    padding: 0;
}
#sidebar .sidebar_expand li {
    padding: 5px;
}
#sidebar .sidebar_expand li:hover > a {
    color: #fff;
    text-decoration: none;
    background: #f0945e;
}
/* Login drop down */
#login_dropdown {
    position: absolute;
    z-index: 999;
    display: none;
    width: 20%;
}
/* Mobile menu collapse */
#mobile-menu {
    display: none;
}
#mobile-menu .mobile-menu-item-collapse {
    display: none;
}
#mobile-menu .mobile-menu-item {
    border-bottom: 1px solid #DDD;
}
/* go top button */
#goTop {
    background: #DDD;
    position: fixed;
    display: none;
    bottom: 1em;
    right: 2em;

}
/* cart */
#open-cart {
    text-decoration: none;
}
input[name='quantity'] {
    border: 1px solid #EEE;
}
/* Regsister && Login */
#login #benifit,
#regsister #benifit {
    position: relative;
    color: #FFF;
    background-image: url("/Resources/images/background1.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
#login .content,
#regsister .content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
/* Submenu for other page */
#hidden-subsubmenu #sidebar {
    position: absolute;
    margin-top: 0.3em;
    z-index: 99;
    display: none;
}
#hidden-subsubmenu .sidebar_expand {
    position: absolute;
    color: #333;
    background: #FFF !important;
    z-index: 91;
    top: 0;
    left: 220px;
    min-width: 450px;
    width: 100%;
    display: none;
}
#profile .info {
    padding: 0.3em 0;
}
.btn-delete:hover {
    color: #dc3545;
}